name: Python code quality check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  flake8-actinia:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install flake8==3.8.0
        # enables config via pyproject.toml
        pip install pyproject-flake8
    - name: Run Flake8
      run: |
        pflake8 --count --statistics --show-source --jobs=$(nproc) .
